{% extends "keen_io_dashboard/layouts/hero-twice/layout.html" %}
{% block grid_1 %}
    <div class="col-lg-3 rs_height_100" >
        <div id="chart_1">
            <img data-src="holder.js/100%x480/white/text:#chart_1">
        </div>
    </div>
    <div class="col-lg-4 rs_height_100" style="width: 25%;">
        <div id="chart_2" class="rs_height_60">
            <img data-src="holder.js/100%x280/white/text:#chart_2">
        </div>
        <div id="legend_2" class="rs_height_40">
            <img data-src="holder.js/100%x100/white/text:#legend_2">
        </div>
    </div>
    <div class="col-lg-3 rs_height_100">
        <div id="chart_3">
            <img data-src="holder.js/100%x280/white/text:#chart_3">
        </div>
    </div>
    <div class="col-lg-3 rs_height_100">
        <div id="chart_4">
            <img data-src="holder.js/100%x280/white/text:#chart_4">
        </div>
    </div>
{% endblock %}

{% block head_scripts %}
    <link href="/static/my_css/donut.css" rel="stylesheet" type="text/css" />
    <script>
        let data_panel = JSON.parse('{{ data_panel | tojson | safe}}');
        let data_donut = JSON.parse('{{ data_donut | tojson | safe}}');
    </script>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="/static/js_lib/d3.v4.js"></script>
    <script type="text/javascript" src="/static/my_js/panel_icon.js"></script>
    <script type="text/javascript" src="/static/my_js/donut.js"></script>
    <script type="text/javascript" src="/static/my_js/my_legend.js"></script>
    <script type="text/javascript" src="/static/my_js/pool.js"></script>
    <script>


    queue()
    .defer(draw_panel, "#chart_1", data_panel)  //draw_panel("#chart_1", data_panel)
    .await(loading_values);

    // Creating the donut chart:
    let borders = get_height_width('#chart_2');
    let w_donut = borders.width; let h_donut = borders.height*0.7;
    let color_donut = d3.scaleOrdinal(d3.schemeCategory10);
    let donut = create_donut("#chart_2", data_donut, w_donut, h_donut, color_donut);
    donut.add_inner_label("Hidráulica");
    //donut.add_lines();
    //donut.add_text_labels()

    // Creating legend:
    create_legend('#legend_2', data_donut, w_donut, borders.height*0.08, color_donut);

    function loading_values() {
        x = 10; //refresh each x seconds
        update_values_for('value_stripe');
        update_time("fecha_actual");
        let url = '/cal/energy_production';
        queue()
            .defer(d3.json, url)
            .await(update_donut);

        setTimeout(loading_values, x*1000);
    }

    function update_donut(error, data_donut) {
        donut = create_donut("#chart_2", data_donut, w_donut, h_donut, color_donut);
        donut.add_inner_label("Hidráulica");
    }

    </script>
{% endblock %}

