{% extends "keen_io_dashboard/layouts/total_panel/layout.html" %}
{% block head_scripts %}

    <link href="/static/my_css/my_css.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="/static/my_css/sankey.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/static/my_js/maps/ammap_lib3.js"></script>
    <script type="text/javascript" src="/static/my_js/maps/Ecuador_in_world.js"></script>
    <script type="text/javascript" src="/static/my_js/maps/Ecuador_only.js"></script>
    <script type="text/javascript" src="/static/my_js/maps/ecuadorLow_extra.js"></script>
    <script type="text/javascript" src="/static/my_js/maps/worldHigh.js"></script>

    <script type="text/javascript" src="/static/js_lib/jquery.min.js"></script>
    <!-- Plotly.js -->
    <script type="text/javascript" src="/static/js_lib/plotly-latest.min.js"></script>
    <!-- implementación de niveles -->
    <script type="text/javascript" src="/static/my_js/maps/niveles.js"></script>
    <!-- D3.js library -->
    <script type="text/javascript" src="/static/js_lib/d3.v3.5.17.js" charset="utf-8"></script>

    <script type="text/javascript" src="/static/js_lib/sankey.js"></script>
    <script type="text/javascript" src="/static/my_js/draw_sankey.js"></script>

    <script>
        let selected_level = '{{ detail }}';
    </script>

{% endblock %}

{% block controls %}
    <div id="controls" style="position: absolute; top: 70px; right: 2%; z-index: 10;">
        <button class="glyphicon glyphicon-globe btn" title="Inicio" onclick="main('global');"
                style="font-size: 14pt; background: transparent">
        </button>
        <button class="glyphicon  glyphicon-tree-conifer btn" title="Nivel regional" onclick="main('regional');"
                style="font-size: 14pt; background: transparent">
        </button>

        <button class="glyphicon glyphicon-briefcase btn" title="Nivel empresarial" onclick="main('empresarial');"
                style="font-size: 14pt; background: transparent">
        </button>

        <button class="glyphicon glyphicon-screenshot btn" title="Nivel provincial" onclick="main('provincial');"
                style="font-size: 14pt; background: transparent">
        </button>

        <button class="glyphicon glyphicon glyphicon-asterisk btn" title="Cargabilidad lineas 138 - 230 kV"
                onclick="window.open('/c_lineas');"
                style="font-size: 14pt; background: transparent">
        </button>

    </div>
{%  endblock %}

{% block panels %}

    <div id="panel_flotante_superior">
        <div id="panel_1"  class="float_container" style="top: 7.5%; left: 1%; width: 20em; height: 6em">
            <span id="id_note" style="font-size: 10pt; position: relative; left:101%"> *. </span>
            <a class="float_title_white" style="width: 100%"
            title="Click para ver el pronóstico de la demanda (versión PC)"
            href="/pronostico/demanda-nacional">
                DEMANDA NACIONAL </a>
            <a class="float_value_white" style="width: 100%"
                title="Click para ver el pronóstico de la demanda (versión videowall)"
                href="/pronostico-videowall/demanda-nacional"
            >
                <span id="demanda"> ----- </span>
                MW</a>
        </div>

        <div id="panel_2"  class="float_container" style="top: 20%; left: 1%; width: 20em; height: 6em">
          <a id="detalle_generacion" class="float_title_white" style="width: 100%"
            title="Click para ver listado de generación en línea"
          >  GENERACIÓN TOTAL </a>
            <div class="float_value_white" style="width: 100%"> <span id="gen_total_mw"> ------ </span> MW</div>
        </div>

        <div id="panel_3"  class="float_container" style="top: 20%; left: 24em; width: 20em; height: 6em">
          <a id="link_indisponibilidad" class="float_title_white"
             style="width: 100%" title="Click para ver detalles de disponibilidad"
          > RESERVA RODANTE</a>
            <a class="float_value_white" style="width: 100%"
               href="/tendencia_reserva"
            >
                <span id="reserva"> ------ </span> MW</a>
        </div>

        <div id="panel_4"  class="float_container" style="top: 30%; left: 1%; width: 20em; height: 6em">
          <div class="float_title_white" style="width: 100%"> EXPORTACIÓN </div>
            <div class="float_value_white" style="width: 100%"> <span id="exportacion_mw"> ------ </span> MW </div>
        </div>

        <div id="panel_5"  class="float_container" style="top: 30%; left: 24em; width: 20em; height: 6em">
          <div class="float_title_white" style="width: 100%"> IMPORTACIÓN </div>
            <div class="float_value_white" style="width: 100%"> <span id="importacion_mw"> ------ </span> MW</div>
        </div>


        <div id="panel_s"  class="float_container" style="top: 45%; left: 85%">
          <div class="float_value_white" style="width: 100%"> N° SUBESTACIONES: </div>
        </div>

        <div id="panel_s1"  class="float_container" style="top: 50%; left: 74%; width: 8em; height: 12em">
          <a id="c_500" class="float_title_white"  style="width: 100%"> 500 kV </a>
            <div class="float_value_white" style="width: 100%"> <span id="sub_500_total"> 4 </span></div>
        </div>

        <div id="panel_s2"  class="float_container" style="top: 50%; left: 82%; width: 8em; height: 12em">
          <a id="c_230" class="float_title_white"  style="width: 100%"> 230 kV </a>
            <div class="float_value_white" style="width: 100%"> <span id="sub_230_total"> 26 </span></div>
        </div>

        <div id="panel_s3"  class="float_container" style="top: 50%; left: 90%; width: 8em; height: 12em">
          <a id="c_138"  class="float_title_white"  style="width: 100%"> 138 kV </a>
            <div class="float_value_white" style="width: 100%"> <span id="sub_138_total"> 54 </span></div>
        </div>

        <div id="panel_inf"  class="float_container" style="top: 59.9%; left: 2px; width: 18em">
            <div  style="width: 100%; font-size: 9pt"> <span id="info"> ------ </span></div>
        </div>


    </div>

    <!-- Trigger/Open The Modal -->
    <!--button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" >
        <span class="close">&times;</span>
          <div id="modal_title"  class="modalTitle"> Título </div>
          <div id="modal_content"></div>
      </div>

    </div>



{% endblock %}

{% block body_scripts %}


    <script type="text/javascript" src="/static/my_js/mp_ecuador_sala_control.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    /*
    btn.onclick = function() {
        modal.style.display = "block";
    }*/

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };
    timestamp = time_now();
    url_indisp = "/tabla?url=/cal/detalle_de_disponibilidad&param=" + timestamp + '&' + timestamp +
        "&config={'title':'Disponibilidad de unidades', " +
        " 'orden':['EVENTO_FECHA', 'EMPRESA', 'CENTRAL', 'ID', 'POT_EFECTIVA', 'POT_DISPONIBLE', 'Potencia', 'DESCRIPCION' ], " +
        " 'nombres':['ÚLTIMO EVENTO', 'EMPRESA', 'CENTRAL', 'CODIGO UNIDAD', 'POT EFECTIVA', 'POT DISPONIBLE','POT ACTUAL' ,'DESCRIPCIÓN' ], " +
        " 'T':1, 'I':1}";
    d3.select("#link_indisponibilidad")
        .on('click', function(d) {
            window.open(
            url_indisp,
                '_blank', 'toolbar=no, location=yes, status=no, menubar=no,scrollbars=yes,'
                               + ' resizable=yes, width=1100px, height=850px'
            );
        });

    url_generacion = "/tabla?url=/cal/detalle_generacion_potencia&param=Total&" + timestamp +
        "&config={'title':'Detalle de Generación en línea', " +
        " 'orden':['Central', 'U_Codigo', 'Unidad' ,'Tecnología', 'Potencia', 'Fecha'], " +
        " 'nombres':['Central', 'Codigo Unidad', 'Unidad', 'Tecnología', 'Potencia (MW)', 'Fecha']}"

    d3.select("#detalle_generacion")
        .on('click', function(d) {
            window.open(
            url_generacion,
                '_blank', 'toolbar=no, location=no, status=no, menubar=no,scrollbars=yes,'
                               + ' resizable=yes, width=1100px, height=550px'
            );
        });

    let opts = "'toolbar=no, location=yes, status=no, menubar=no,scrollbars=yes,' resizable=yes, width=800px, height=800px'"
    url_c = "/cargabilidad_lineas/";
    d3.select("#c_230")
        .on('click', function(d) {
            window.open(
            url_c + "230",
                '_blank', opts
            );
        });

    d3.select("#c_138")
        .on('click', function(d) {
            window.open(
            url_c + "138",
                '_blank', opts
            );
        });

     d3.select("#c_500")
        .on('click', function(d) {
            window.open(
            url_c + "500",
                '_blank', opts
            );
        });


</script>


{% endblock %}