{% extends "layouts/head_menu_navigation.html" %}

{% block content %}

  <div class="container-fluid" style="height: 96%">
    <div id="content" class="col-lg-12" style="height: 100%; padding-right: 0">
        <div class="chart-wrapper" style="height: 100%;">
            <div id='selected' style="padding: 10px">  </div>
            <div id='tabla_div' style="padding: 10px"></div>
        </div>
    </div>
  </div>

{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="/static/js_lib/d3.v3.5.17.js"></script>
    <script type="text/javascript" src="/static/js_lib/tabla/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js_lib/queue.js"></script>
    <script type="text/javascript" src="/static/js_lib/tabla/makeTable.js"></script>
    <script type="text/javascript" src="/static/my_js/my_table.js"></script>
    <link rel="stylesheet" href="/static/css_lib/jquery.dataTables.min.css" >
    <script>
        let tb_data = JSON.parse('{{ tb_data | tojson | safe}}');
        let url = '{{ url}}';
        let config = JSON.parse('{{ config | tojson | safe}}');

    </script>

{% endblock %}

{% block body_scripts %}
    <script>

        queue()
          .defer(d3.json, url)
          .await(function(error, tb_data_raw) {
              tb_data = tb_data_raw;
              if(config["I"]!==undefined) {
                  aux = [];
                  for (let ix in tb_data_raw) {
                      tb_data_raw[ix]["ID"] = ix;
                      aux.push(tb_data_raw[ix]);
                  }
                  tb_data_raw = aux;
              }

              if(config["T"]!==undefined){
                tb_data = transponer(tb_data_raw);
              }
              if(config["nombres"] === undefined){
                  config["nombres"] = config["orden"];
              }

              if(config["orden"]!== undefined){
                  tb_data = [];
                  let lista = config["orden"];
                  let nomb = config["nombres"]
                  for(let ix in tb_data_raw){
                      register = {};
                      for(let li in lista){
                          register[nomb[li]] = tb_data_raw[ix][lista[li]];
                      }
                      tb_data.push(register);
                  }
              }

              if (config["sortBy"] === undefined) {
                  let idx = Object.keys(tb_data)[0];
                  sortBy = Object.keys(tb_data[idx])[0];
              } else {
                  sortBy = config["sortBy"];
              }
              filter = config["filter"];

              create_table(tb_data, "#tabla_div", sortBy, filter);
          });
    </script>
{% endblock %}