div{

}
.rs_width_100 { width: 100%; margin: 0; }
.rs_height_100 { height: 100%; margin: 0; }
.rs_height_60 {height: 60%; margin: 0;}
.rs_height_40 {height: 40%; margin: 0;}
.container_panel{
    fill: #b6b6b6;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin: 2px;
    border-radius: 10px;
}

.container_legend{
    width: 100%;
    height: 100%;
}

.rs_icon{
    position: relative;
    float: left;
    width: 30%;
    height: auto;
}
.square_legend{
    margin: 0.5%;
    border-radius: 5px;
    float: left;
}
.text_legend{
    color: black;
    float: right;
    margin: 0.5%;
    font-size: 0.8vw;
}


img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display:block;
    margin: auto;
    padding: 1px;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}


svg{

}.icon{
    width: 30%;
    fill: #b6b6b6;
 }
 .value_panel{
     width: 80%;
 }
 .container_panel{
     width: 100%;
     height: 100%;
 }

 text{

 }
.text_stripe{
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    white-space: normal;
    font-size: 0.8vw;
}

@media screen and (min-width: 700px) {
  .text_stripe {
     font-size: 12pt;
  }
}
@media screen and (max-width: 700px) {
  .text_stripe {
     font-size: 10pt;
  }
}



.value_stripe{
    text-align: center;
    color: black;
    padding-top: 3%;
    font-family: "Century Gothic", Monaco, monospace;
    font-weight: bold;
    white-space: normal;
    font-size: 1.1vw;
}

@media screen and (min-width: 700px) {
  .value_stripe {
     font-size: 14pt;
  }
}
@media screen and (max-width: 700px) {
  .value_stripe {
     font-size: 12pt;
  }
}

.col-lg-2_3, .col-lg-3_4, .col-lg-4_5, .col-lg-10_11 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }

@media (min-width: 1200px) {


    .col-lg-2_3, .col-lg-3_4, .col-lg-4_5, .col-lg-10_11 {
        float: left;
    }

    .col-lg-2_3 {
        width: 20%;
    }

    .col-lg-4_5 {
        width: 35%;
    }

    .col-lg-3_4 {
        width: 29.1%;
    }

    .col-lg-10_11{
        width: 80%;
    }
}

.auto_title {
  font-size: 3vw;
}
@media screen and (min-width: 700px) {
  .auto_title {
     font-size: 14pt;
  }
}


.float_container{
    position: absolute;
    z-index: 10;
    color: white;
    display: inline-block;
    margin: 0;
}


.float_title_white{

    z-index: 10;
    color: white;
    font-family: Raleway, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    display: inline-block;
    line-height: 1.4em;
    margin: 0;
    border-bottom: 1.5px solid hsla(0,0%,100%,.4);
    letter-spacing: .05em;
    text-align: right;
}
@media screen and (max-width: 800px) {
  .float_title_white {
     font-size: 12pt;
  }
}


.float_value_white{

    z-index: 10;
    color: white;
    font-family: Fjalla One;
    font-size: 18pt;
    display: inline-block;
    margin: 0;
    line-height: 1.4em;
    letter-spacing: .05em;
    text-align: right;
}
@media screen and (max-width: 800px) {
  .float_value_white {
     font-size: 12pt;
  }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.9;
    -webkit-text-stroke: 1px #ffffff;
}

.close:hover,
.close:focus {
    color: #ff1a1a;
    text-decoration: #f58a1e;
    cursor: pointer;
    opacity: 0.9;
}

.modalTitle{
    color: black;
    font-size: 24pt;
}

.modal-header-fine {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-header-warning {
    padding: 2px 16px;
    background-color: #ee4f34;
    color: white;
}

a:hover {
 cursor:pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}