{% extends "layouts/head_menu_navigation.html" %}
{% block content %}

  <div class="container-fluid">

		<div class="row">
		  <div class="col-lg-8">
			<div class="chart-wrapper">
			  <div class="chart-title">
                  {{ titles.sbt1 | safe }}
			  </div>
			  <div class="chart-stage">
                  {% block grid_1 %}
                      <div id="grid_1">
                        <img data-src="holder.js/100%x500/white/text:#grid_1">
                      </div>
                  {% endblock %}
			  </div>

                {% block note_1 %}
                    <div class="chart-notes">
                        {{ notes.nt1 | safe}}
                    </div>
                {% endblock %}

            </div>
		  </div>
		  <div class="col-lg-4">
			<div class="chart-wrapper">
			  <div class="chart-title">
				{{ titles.sbt2 | safe }}
			  </div>
			  <div class="chart-stage">
                  {% block grid_2 %}
                      <div id="grid_2">
				        <img data-src="holder.js/100%x500/white/text:#grid_2">
                      </div>
                  {% endblock %}
			  </div>

                {% block note_2 %}
                  <div class="chart-notes">
                    {{ notes.nt2 | safe}}
                  </div>
			    {% endblock %}
            </div>
		  </div>
		</div>
	</div>

{% endblock %}