{% extends "layouts/head_menu_navigation_black.html" %}
{% block content %}

  <div  style="height: 100%; background: black">

      <div id="main" style="width: 100%; height: 100%;">
            {% block controls %}

            {% endblock %}

            {% block panels %}

            {% endblock %}

            {% block main_grid %}
                <div id="main_grid" style="height: 60%"></div>
            {% endblock %}

            {% block sencondary_grid %}
                <div id="trend" style="width: 100%; height: 40%;  background-color: gray">
                    <div id="grid_1"  style="width: 33%; height: 100%; float:left; margin: 2px; background-color: black" ></div>
                    <div id="grid_2"  style="width: 33%; height: 100%; float:left; margin: 2px; background-color: black"></div>
                    <div id="grid_3"  style="width: 33.15%; height: 100%; float:left; margin: 2px; background-color: black"></div>
                </div>
            {% endblock %}
      </div>

  </div>

{% endblock %}